<div class='dashboard-body large-12'>
	Hello, <%= current_user.name %>.

	<a href='/logout'>Log Out</a>

	<%= react_component('ChampionList', summoner_id: @user.summoner_id, matches: @user.matches) %>

	<div id="content"></div>
</div>