<div class='signup-container'>

	<h1 class='large-6 large-offset-3'>Log In</h1>

	<%= form_tag '/login', :class => 'large-6 large-offset-3' do %>

	  Email: <%= text_field_tag :email %>
	  Password: <%= password_field_tag :password %>
	  <%= submit_tag "Submit" %>

	<% end %>
	
</div>