<div class='centerfold-top'>
	<h1 class='large-6 large-offset-3'> Aram Pro </h1>
	<h3 class='large-6 large-offset-3'>Bringing Order to the Howling Abyss</h3>

	<form action="/summoner" accept-charset="UTF-8" method="post">
		<input class='large-4 large-offset-4' placeholder='Summoner Name'/>
		<button type="submit" class="search-button" name="search_submit" value="Search">
  		<i class="fi-magnifying-glass"></i>
		</button>
	</form>
</div>
<a href='#' class='register-button'>Sign Up</a>