<div class='centerfold-top'>
	<h1 class='large-6 large-offset-3'> Aram Pro </h1>
	<h3 class='large-6 large-offset-3'>Bring Order to the Abyss</h3>

	<form action="/summoner" accept-charset="UTF-8" method="post">
		<input class='large-4 large-offset-4' placeholder='Summoner Name'/>
		<button type="submit" class="search-button" name="search_submit" value="Search">
  		<i class="fi-magnifying-glass"></i>
		</button>
	</form>
</div>

<a href='/signup' class='register-button'>Sign Up</a>

<div class='centerfold-bottom'>

	<h1 class='large-8 large-offset-2'>Leverage Awesome Tools</h1>

	<div class='large-3 proposition-container columns'>
		<i class="fi-torsos-all icon-large"></i>
		<h3>See How Your Team Matches Up</h3>
		<p>See how your team composition fares against others with Abyss Buster. See if you can cheese them early or if your team should stall for level six.</p>
	</div>

	<div class='large-3 proposition-container columns'>
		<i class="fi-lightbulb icon-large"></i>
		<h3>Learn About ARAM Strategy</h3>
		<p>Learn from experienced players and contribute your own insights to the community. Think Sona heals too much? Darius dunking your team? Learn how to win against god-tier comps here.</p>
	</div>

	<div class='large-3 proposition-container columns'>
		<i class="fi-trophy icon-large"></i>
		<h3>Find Builds Specifically For ARAM</h3>
		<p>The Howling Abyss has it's own set of challenges. Look up general strategy and builds from other players to help you dominate the Abyss.</p>
	</div>		
</div>
