// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centerfold-top{
  background-attachment: fixed;
  background-position: fixed;
	background: url('abyss_large.png');
	background-size: cover;
	height: 575px;

  h1{
    text-align: center;
    font-family: "Jockey One";
    font-size: 5.0rem;
    color: white;
    padding-top: 200px;
    margin-bottom: 0;
  }

  h3{
    text-align: center;
    color: white;
    font-family: "Fjalla One";
    font-size: 2.0rem;
  }

  input{
    height: 35px;
    font-size: 1.2rem;
    font-family: "Fjalla One";
    text-indent: 5px;
    position: relative;
    right: 15px;

    &:focus {
      outline: none;
    }
  }

  .search-button{
    height: 35px;
    padding: 0.62rem 1.1rem;
    background-color: #478ab7;
    position: relative;
    right: 15px;

    i{
      font-size: 1.1rem;
    }
  }
}

.register-button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  padding: 1.2rem 3.0rem;
  font-size: 1.3rem;
  font-family: "Fjalla One";
  background-color: #478ab7;
  color: white;
  border-radius: 2px;

  &:hover{
    border: 1px solid white;
    color: white;
  }
}

.centerfold-bottom{
  min-height: 600px;
  
  h1{
    text-align: center;
    font-family: "Jockey One";
    font-size: 3.0rem;
    color: black;
    padding-top: 50px;
    margin-bottom: 0;
  }

  h3{
    text-align: center;
    color: black;
    font-family: "Fjalla One";
    font-size: 1.6rem;
  } 

  .proposition-container{
    height: 400px;
    // background-color: red;
    margin-left: 6%;

    p{
      text-align: center;
    }

    &:last-child{
      float: left;
    }
  }

  .icon-large{
    width: 100px;
    text-align: center;
    font-size: 7.0rem;
    margin-left: 36%;
  } 


}

.testomony-orbit{

}
